/* Asilbekniki Kirgan Gey */

*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
nav>span{
    width: 135px;
height: 63px;
left: 243px;
top: 43px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 63px;
/* identical to box height */


color: #000000;
}
.tayoq {
    width: 132px;
    height: 852px;
    background-color: #000000;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 19px;
    overflow-x: hidden;
    box-shadow: 20px 1px 50px black;
    position: absolute;
    left: 40px;
    top: 20px;
}
.fght>img{
    width: 40px;
    height: 40px;
}
.fght>a>img{
    width: 40px;
    height: 40px;
}
.bola1 {
    width: 100%;
    height: calc(100% / 6);
    background: #0C0B0B;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bola2 {
    width: 100%;
    height: calc(100% / 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola3 {
    width: 100%;
    height: calc(100% / 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1D5BB;
}

.bola4 {
    width: 100%;
    height: calc(100% / 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola5 {
    width: 100%;
    height: calc(100% / 6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola6 {
    width: 100%;
    height: calc(100% / 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #F1D5BB;
}
.wrapp{
    position: relative;
    width: 1440px;
    height: 1000px;
    padding-left: 244px;
    background: #FFFFFF;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 37px 23px 43px 20px;
    gap: 57px;
}
.koli{
    flex-direction: column;
    padding-left: 36px;
    
    
}
.plus{
    padding-left: 70px;
    padding-top: 20px;
    display: flex;
 gap: 12px;
}
.jok{
    width: 46px;
height: 35px;
left: 660px;
top: 201px;
display: flex;
justify-content: center;
align-items: center;
background: #FFFFFF;
}
.jok>p{
    width: 12px;
height: 25px;
left: 677px;
top: 206px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #000000;
}
.otmen{
    padding-left: 79px;
}
.otmen>button{
    background-color: #00000000;
    border: none;
}
.plus>button{
    width: 11px;
height: 24px;
left: 636px;
top: 198px;

border: none;
background-color: #00000000;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;

color: #000000;
}
.otmen{
    padding-top: 25px;
}
.lop{
    width: 162px;
height: 31px;
left: 390px;
top: 182px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 31px;

color: #000000;
}
.lopi{
    margin-top: 14px;
    width: 65px;
height: 25px;
left: 390px;
top: 227px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
/* identical to box height */


color: #000000;
}
nav{
    padding: 43px 0 29px 0px;
}
.rasm{
    display: flex;
}
img{
    width: 90px;
height: 90px;
}
.section{
    width: 608px;
height: 608px;
left: 244px;
top: 135px;
display: flex;
background-repeat: no-repeat;
background: #F1D5BB;
border-radius: 3px;
}
.up{
    margin-left: 50px;
    width: 403px;
height: 256px;
left: 893px;
top: 135px;

background: #F1D5BB;
border-radius: 3px;
padding: 22px 0 30px 40px;
}
.down{
    width: 403px;
height: 244px;
left: 893px;
top: 417px;
margin-left: 50px;
background: #FFFFFF;
border: 1px solid #F1D5BB;
border-radius: 3px;
display: flex;
flex-direction: column;
padding: 32px 0 33px 40px;
gap: 30px;
}
.y1{
    width: 249px;
height: 50px;
left: 933px;
top: 157px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;

color: #000000;
}
.lkj{
    padding-top: 40px;
    display: flex;
    gap: 29px;
}
.y2{
    width: 118px;
height: 38px;
left: 933px;
top: 247px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: rgba(0, 0, 0, 0.8);
}
.y3{
    width: 97px;
height: 38px;
left: 1080px;
top: 247px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: rgba(0, 0, 0, 0.8);
}
.y4{
    width: 365px;
height: 78px;
left: 933px;
top: 313px;
margin-top: 28px;
background: #000000;

left: 1017px;
top: 333px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: #FFFFFF;
}
.sp1{
    width: 227px;
height: 50px;
left: 933px;
top: 449px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;

color: #000000;
}
.sp2{
    width: 365px;
height: 78px;
left: 933px;
top: 524px;
font-size: 30px;
padding-left: 10px;
background: #FFFFFF;
border: 1px solid #F1D5BB;
}
.sp3{
    width: 166px;
height: 78px;
left: 933px;
top: 632px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: #FFFFFF;
background: #000000;
}